body {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    #d6d5ca 0%,
    #e5d98f 35%,
    #edcb4d 45%,
    #b9823f 65%,
    #e89a00 100%
  );
}

.project-card {
  background: white;
  margin-bottom: 50px;
  border-radius: 4px 4px 24px 24px;
  overflow: hidden;
  box-shadow: 0 2px 3px #888;
  border: 1px solid #9a9a9a;
}

.project-header {
  padding: 12px 16px;
  background: linear-gradient(
    to bottom,
    #5a8fc3,
    #2f5f91
  );
  color: white;
  border: 1px solid #4a6f94;
}

.project-header button {
  font-size: 1.2rem;
}

.project-actions {
  visibility: hidden;
}

.project-card:hover .project-actions {
  visibility: visible;
}

.project-title {
  font-size: 1.75rem;
  font-weight: 400;
}

.add-project-button {
  padding: 12px 16px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(
    to bottom,
    #5a8fc3,
    #2f5f91
  );
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 20px;
  border: 1px solid #4a6f94;
  text-shadow: 0 2px 3px #444;
}

.plus-icon {
  width: 36px;
  height: 36px;
  stroke: #979797;
  stroke-width: 4;
  filter: drop-shadow(0 -2px 0 #555);
}

.task-create-box {
  background: linear-gradient(
    to bottom,
    #eeeeee,
    #d7d7d7
  );
  padding: 12px;
}

.task-create-form {
  display: flex;
  align-items: center;
}

.task-create-form input {
  flex: 1;
  height: 36px;
  border: 1px solid #bbb;
  box-shadow: inset 0 2px 3px #aaa;
  padding-left: 12px;
}

.task-create-form button {
  height: 36px;
  padding: 0 32px;
  color: white;
  background: linear-gradient(
    to bottom,
    #78c59b,
    #3f7f5d
  );
  border: 1.5px solid #2f684a;
  border-radius: 0 6px 6px 0;
  text-shadow: 0 2px 3px #444;
}

.task-create-form input::placeholder {
  color: #bbb;
}

.task-item {
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
  background-image:
    linear-gradient(to right, transparent 55px, #e5d5d5 55px 56px, transparent 56px),
    linear-gradient(to right, transparent 63px, #e5d5d5 63px 64px, transparent 64px),
    linear-gradient(to left, transparent 107px, #ddd 107px 108px, transparent 108px);
}

.task-actions {
  visibility: hidden;
  color: #777;
}

.task-actions button + button {
  border-left: 1px solid #ddd;
}

.task-item:hover .task-actions {
  visibility: visible;
}

.task-item:hover {
  background-color: #fffdd8;
}

.no-tasks {
  margin: 0;
  padding: 16px 77px;
  min-height: 60px;
}

.task-name {
  color: #777;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.task-meta {
  color: #888;
  font-weight: 500;
}

.task-update-form {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
}

.task-update-form p {
  margin: 0;
}

.task-update-form label {
  color: #777;
  font-weight: 600;
}

.task-update-form button {
  color: white;
  background: linear-gradient(
    to bottom,
    #78c59b,
    #3f7f5d
  );
  border: 1px solid #2f684a;
  padding: 6px 18px;
}

.project-form button {
  padding: 6px 16px;
}

.add-project-button:hover,
.add-project-button:active {
  color: white;
}

.project-form {
  width: fit-content;
  margin: 0 auto 20px;
  padding: 16px 20px;
  background: white;
  border-radius: 6px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.project-form p {
  margin: 0;
}

.project-form label {
  color: #777;
  font-weight: 600;
}
