<!DOCTYPE html>
<html lang="en">
<head>
  {% load django_htmx %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% htmx_script %}

  <title>{% block title %}Task Manager{% endblock %}</title>
</head>
<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>

  {% if user.is_authenticated %}
    <span>{{ user.username }}</span>
    <a href="{% url 'account_logout' %}">Logout</a>
  {% else %}
    <a href="{% url 'account_login' %}">Login</a>
    <a href="{% url 'account_signup' %}">Sign up</a>
  {% endif %}

  {% block content %}
  {% endblock %}
</body>
</html>
