<form
  class="project-form"
  {% if object %}
    id="project-{{ object.pk }}"
    hx-post="{% url 'tasks:project-update' object.pk %}"
    hx-target="#project-{{ object.pk }}"
    hx-swap="outerHTML"
  {% else %}
    hx-post="{% url 'tasks:project-create' %}"
    hx-target="this"
    hx-swap="outerHTML"
  {% endif %}
>
  {% csrf_token %}
  {{ form.as_p }}

  <button type="submit" class="btn btn-outline-success">
    {% if object %}Update{% else %}Create{% endif %}
  </button>

  {% if not object %}
    <button
      type="button"
      class="btn btn-outline-secondary"
      onclick="this.closest('form').remove()"
    >
      Cancel
    </button>
  {% endif %}
</form>