<div
  id="project-{{ project.pk }}"
  class="project-card"
>
  <div class="project-header d-flex justify-content-between align-items-center">
    <h2 class="project-title mb-0">
      <i class="bi bi-calendar2-week me-2" style="color: #303030;"></i> {{ project.name }}
    </h2>

    <div class="project-actions">
      <button
        type="button"
        class="btn text-white"
        hx-get="{% url 'tasks:project-update' project.pk %}"
        hx-target="#project-{{ project.pk }}"
        hx-swap="outerHTML"
      >
        <i class="bi bi-pen"></i>
      </button>

      <button
        type="button"
        class="btn text-white"
        hx-post="{% url 'tasks:project-delete' project.pk %}"
        hx-target="#project-{{ project.pk }}"
        hx-swap="outerHTML"
      >
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>

  <div class="task-create-box">
    <form
      class="task-create-form"
      hx-post="{% url 'tasks:task-create' project.pk %}"
      hx-target="#project-{{ project.pk }}"
      hx-swap="outerHTML"
    >
      {% csrf_token %}

      <svg
        class="plus-icon me-3"
        style="stroke: #3f8f5f; filter: drop-shadow(0 -1px 0 #777);"
        viewBox="0 0 24 24"
      >
        <path d="M12 4v16M4 12h16"></path>
      </svg>

      {{ task_create_form.name }}
      <button type="submit">Add Task</button>
    </form>
  </div>

  <div>
    {% for task in project.tasks.all %}
      {% include "tasks/partials/task.html" %}
    {% empty %}
      <p>No tasks yet.</p>
    {% endfor %}
  </div>
</div>