<div id="task-{{ task.pk }}" class="task-item d-flex align-items-center">
  <button
    type="button"
    class="btn ms-2 me-2"
    style="color: #777;"
    hx-post="{% url 'tasks:task-toggle-complete' task.pk %}"
    hx-target="#task-{{ task.pk }}"
    hx-swap="outerHTML"
  >
    {% if task.is_completed %}
      <i class="bi bi-check-square"></i>
    {% else %}
      <i class="bi bi-square"></i>
    {% endif %}
  </button>

  <div class="ms-4">
    <div class="task-name">{{ task.name }}</div>

    <small class="task-meta">
      <span>Priority: {{ task.get_priority_display }}</span>

      {% if task.deadline %}
          <span class="task-deadline">
            Deadline: {{ task.deadline }}
          </span>
      {% endif %}
    </small>
  </div>

  <div class="task-actions ms-auto me-3">
    <button
      type="button"
      class="btn"
      hx-get="{% url 'tasks:task-update' task.pk %}"
      hx-target="#task-{{ task.pk }}"
      hx-swap="outerHTML"
    >
      <i class="bi bi-pen"></i>
    </button>

    <button
      type="button"
      class="btn"
      hx-post="{% url 'tasks:task-delete' task.pk %}"
      hx-target="#task-{{ task.pk }}"
      hx-swap="outerHTML"
    >
      <i class="bi bi-trash"></i>
    </button>
  </div>
</div>