{% extends "base.html" %}

{% block title %}Projects{% endblock %}
{% block content %}
  <div class="container py-5">
    <div id="projects">
      {% for project in projects %}
        {% include "tasks/partials/project.html" %}
      {% endfor %}
    </div>

    <div class="text-center">
      <button
        type="button"
        class="btn add-project-button"
        hx-get="{% url 'tasks:project-create' %}"
        hx-target="#projects"
        hx-swap="beforeend"
      >
        <svg class="plus-icon" viewBox="0 0 24 24">
          <path d="M12 4v16M4 12h16"></path>
        </svg>
        Add TODO List
      </button>
    </div>
  </div>
{% endblock %}