{% extends "base.html" %}

{% block title %}Projects{% endblock %}
{% block content %}
  <h1>Projects</h1>
  <a href="{% url 'tasks:project-create' %}">Add Project</a>
  {% for project in projects %}
    <div>
      <h2>{{ project.name }}</h2>
      <a href="{% url 'tasks:project-update' project.pk %}">Edit</a>
      <a href="{% url 'tasks:project-delete' project.pk %}">Delete</a>
      <a href="{% url 'tasks:task-create' project.pk %}">Add Task</a>

      {% for task in project.tasks.all %}

        <p>{{ task.name }}</p>
        <p>{{ task.deadline }}</p>
        <p>{{ task.get_priority_display }}</p>

        {% if task.is_completed %}
          <span>Done</span>
        {% endif %}

      {% empty %}
        <p>No tasks yet.</p>
      {% endfor %}
    </div>
  {% empty %}
    <p>No projects yet.</p>
  {% endfor %}
{% endblock %}
